.input {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input .form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.input .form .cardholder,
.input .form .card-number {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 15px;
  border: 1px solid var(--border-color-primary);
  border-radius: 10px;
  width: 75%;
}

.input .form .date-cvc {
  display: flex;
  gap: 20px;
  width: 75%;
}

.input .form .date-cvc .date {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input .form .date-cvc .date .date-input {
  display: flex;
  gap: 10px;
}

.input .form .date-cvc .cvc {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input .form .date-cvc .cvc input {
  width: 100%;
}

.input .form .date-cvc label {
  margin-bottom: 10px;
}

.input .form input[type='submit'] {
  color: var(--font-color-primary);
  background-color: var(--font-color-secondary);
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}

.input .form input:hover,
.input .form input:focus-visible {
  outline: 1px solid var(--hover-color);
}

.error-border {
  border: 1px solid var(--error-color);
}

.error-font {
  color: var(--error-color);
}

.error-date-span {
  width: 300px;
}

.date-span {
  margin-top: 5px;
  padding-right: 15px;
}
