.output {
  width: 30%;
  background: url('../../assets/images/bg-main-desktop.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.output .images {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 35%;
}

.output .images .front-card {
  background: url('../../assets/images/bg-card-front.png') no-repeat;
}

.output .images .back-card {
  background: url('../../assets/images/bg-card-back.png') no-repeat;
  margin-left: 20%;
}

.output .images .card-back {
  padding: 7.5%;
  background-size: cover;
  background-position: center;
  width: 475px;
  height: 250px;
  border-radius: 15px;
}

.output .images .front-card img {
  margin-bottom: 75px;
}

.output .images .front-card h2 {
  font-size: 2.5rem;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.output .images .front-card .name-date {
  display: flex;
  justify-content: space-between;
}

.output .images .back-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.output .images .back-card p {
  font-weight: 800;
  padding: 0 15px 5px 0;
}
