@font-face {
  font-family: SpaceGrotesk;
  src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-color-primary: hsl(0, 0%, 100%);
  --font-color-secondary: hsl(278, 68%, 11%);
  --font-color-tertiary: hsl(279, 6%, 55%);
  --border-color-primary: hsl(270, 3%, 87%);
  --hover-color: hsl(278, 94%, 30%);
  --error-color: hsl(0, 100%, 66%);
}

html {
  font-size: 62.5%;
  font-family: SpaceGrotesk, Arial, Helvetica, sans-serif;
}

p,
label,
::placeholder {
  font-size: 1.5rem;
}

label {
  color: var(--font-color-secondary);
  letter-spacing: 2.5px;
}

p,
h2 {
  color: var(--font-color-primary);
}
